<fieldset data-hook="cash_on_delivery">
  <legend><%= t(:cash_on_delivery) %></legend>

  <table class="index">
    <tr>
      <th colspan="2"><%= t(:details, scope: 'payone') %></th>
    </tr>
    <tr>
      <td><%= label_tag nil, t(:shipping_provider) %>:</td>
      <td>
        <%= t(Spree::Payone::Utils::ShippingProvider.validate_symbol(payment.source.shipping_provider)) %>
      </td>
    </tr>
  </table>
</fieldset>

